fastapi
google-cloud-vision
uvicorn
#io
pillow
pybase64
pydantic
torchvision
torch
tensorflow
tf_slim
pycocotools
tensorflow
numpy
matplotlib
#opencv-python==3.4.13.47 (installed with pip3)
protobuf==3.19.0
#Flask
boto3
google-search-results
requests
glob2
python-dotenv
bs4
selenium
streamlit
watchdog
streamlit_lottie
IPython
streamlit-aggrid
webdriver_manager
nltk
pyzipcode