fastapi
google-cloud-vision
uvicorn
#io
pillow
pybase64
pydantic
torchvision
torch
tensorflow
tf_slim
pycocotools
tensorflow
numpy
matplotlib
#opencv-python==3.4.13.47 (installed with pip3)
protobuf==3.19.0
Flask boto3
google-search-results
requests
glob2
dotenv
bs4
selenium